<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Item</title>
</head>
<body>
    
    <a href='/main/dashboard'>Home</a> | <a href='/logout'>Logout</a>
    <br/>

    <h1>Create a New Wish List Item</h1>
    <br/>

    <form action='/main/create' method='post'>
        {% csrf_token %}
    Item/Product:
    <input type='text' name='product_name'>
    <input type='submit' name='Add'>
    </form>

</body>
</html>